/*.jumbotron {
    color: #fff;
    background-image: url("https://c2.staticflickr.com/6/5211/5426098481_503b16b14b_b.jpg");
    background-size: cover;
} */

/* body {
    background-color: #024;
}

.jumbotron {
    color: #fff;
    background-image: url("../img/star-night-sky.jpg");
    background-size: cover;
}

.col-sm-6 {
    color: #fff;
} */

/** {
    padding: 0;
    margin: 0;
}*/

.jumbotron {
    /*background-image: url(../images/black_questions.jpg);*/
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1, h4 {
    text-align: top;
    color: white;
    font-family: 'Alice', serif;
    font-size: 35px;
}

.textin button {
    position: relative;
    -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 250px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 250px;}
}

/*.col1, .col2, .col3, .col4 {border: 2px solid black;}*/

form {
    width: 70%;
}

.contact {
    margin-left: 8%;    
}

.nav > li > a {
    background-color: black;
    color: white;
    font-size: 20px;
}

.navbar .nav-pills > .active > a {
    background-color: black;
    color: white;
}
    
.navbar .nav-pills a:hover {
    background-color: white;
    color:black;
}

.navbar .nav-pills > .active > a:hover {
    background-color: white;
    color:black;
}

.textin {
    position: absolute;
    top: 40%;
    left: 4%;
}

#myModal {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal2 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal3 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal4 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

.modal-body {
    text-align: center;
    background-color: #E3E3E3;
}

.modal-header {
    color: #FC3F49;
    text-shadow: 1px 1px black;
    font-family: 'Gloria Hallelujah', cursive;
}

.col-md-6 img {
    padding-bottom: 45px;
}

.ui-widget > input {
    margin-bottom: 200px;
}

@media screen and (max-width: 568px) {
    h1 {
        font-size:60px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        font-size:20px;
    }
}
 
@media screen and (max-width: 568px) {
    .lead {
        font-size:0.8em;
    }
}
