/*.jumbotron {
    color: #fff;
    background-image: url("https://c2.staticflickr.com/6/5211/5426098481_503b16b14b_b.jpg");
    background-size: cover;
} */

/* body {
    background-color: #024;
}

.jumbotron {
    color: #fff;
    background-image: url("../img/star-night-sky.jpg");
    background-size: cover;
}

.col-sm-6 {
    color: #fff;
} */

.jumbotron {
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1, h3 {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.col1, .col2, .col3, .col4 {border: 2px solid black;}

.box {
   width: 10%;
}

form {
    width: 50%;
}

.nav > li > a {
    background-color: black;
    color: white;
    font-size: 20px;
}

.navbar .nav-pills > .active > a {
    background-color: black;
    color: white;
}
    
.navbar .nav-pills a:hover {
    background-color: white;
    color:black;
}

.navbar .nav-pills > .active > a:hover {
    background-color: white;
    color:black;
}

.myCarousel {
   padding: 0;
}

.textin {
    position: absolute;
    top:20%;
}

.textin button {
    margin-left: 10px;
}